@import './colors.scss';
@import 'bootstrap';

.btn-primary {
  color: $white;
}
.btn-light {
  background-color: $gray-lite;
}

.header {
  .header-text {
    color: $primary;
  }
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $gray-lite;
}

.priority-text-wrapper {
  .priority-text {
    border-radius: 4px;
    padding: 8px;
    min-width: 75px;
    color: $white;
  }
  .urgent {
    background-color: $red;
  }
  .trivial {
    background-color: $primary;
  }
  .regular {
    background-color: $yellow;
  }
}
